@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';

@import 'components/header';
@import 'components/footer';
@import 'components/sets';
@import 'components/overlay';
@import 'components/movement-journal';

@import 'components/progress-bar';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	@extend %body--strong;
	background: none;
	border: none;
	border-radius: 0;
	color: $slate5;
}

.text-button {
	@extend %body--strong;
	width: 100%;
	padding: 12px;
	border: 2px $slate5 solid;
	border-bottom-width: 4px;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	outline: none;
	width: 16px;
	height: 16px;
	border: 2px $slate4 solid;

	&:checked {
		background-color: $green;
		border-color: $green;
	}
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.hidden {
	display: none;
}

body {
	@extend %body;
	color: $slate5;
	font-size: 12px;
	padding: 0;
	margin: 0;
}