@import 'scaffolding/variables';
@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';

@import 'components/header';
@import 'components/footer';
@import 'components/sets';
@import 'components/overlay';
@import 'components/movement-journal';

@import 'components/progress-bar';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	@extend %body--strong;
	background: none;
	border: none;
	border-radius: 0;

}

.icon-button {
	width: $primary-button-size;
	height: $primary-button-size;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.text-button {
	@extend %body--strong;
	width: 100%;
	padding: 12px;
	border: 2px $slate5 solid;
	border-bottom-width: 4px;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.hidden {
	display: none;
}

body {
	@extend %body;
	color: $slate5;
	font-size: 12px;
	padding: 0;
	margin: 0;
}