<div class="overlay overlay--add-movement">
    <div class="overlay__header">
        <img src="/img/add.svg" alt="" class="overlay__header-icon">
        <h2>Add a movement</h2>
        <button class="overlay__close-button"></button>
    </div>
    <div class="movement--add-form">
        <div class="movement__header">
            <input type="text" class="movement__name-field" placeholder="Movement name">
        </div>
        <p class="movement__thing">Starting numbers:</p>
        <div class="movement__properties">
            <div class="movement__property">
                <label for="weight">lbs</label>
                <input type="number" name="weight" id="" placehoder="-">
            </div>
            <div class="movement__property-divider"></div>
            <div class="movement__property">
                <label for="sets">Sets</label>
                <input type="number" name="sets" id="" placehoder="-">
            </div>
            <div class="movement__property-divider"></div>
            <div class="movement__property">
                <label for="reps">Reps</label>
                <input type="number" name="reps" id="" placehoder="-">
            </div>
        </div>
        <button class="text-button movement__save-button">Save</button>
    </div>
</div>