    <script>
        let readyFunctions = [];
        if (document.readyState != 'loading') {
            runReadyFunctions();
        }
        else {
            document.addEventListener('DOMContentLoaded', runReadyFunctions)
        }
        function runReadyFunctions() {
            for (thisFunction of readyFunctions) {
                thisFunction();
            }
        }
        function APIRequest(verb, route, params) {
            let request = new XMLHttpRequest();
            let url = window.location.href;
            url = `http://${url.split('/', 3)[2]}/`;
            
            url += `${route}/`;
            for (let i = 2; i < arguments.length; i++) {
                url += `${arguments[i]}/`;
            }
            console.log(url);
            request.open(verb, url, true);
            request.onload = () => { };
            request.send();
        }
    </script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/sets.js"></script>
</body>
</html>
