<footer class="footer">
    <div class="routine__progress">
        <p>In progress (3 / 7)</p>
        <div class="routine__progress-bar">
            <div class="routine__progress-step--complete"></div>
            <div class="routine__progress-step--complete"></div>
            <div class="routine__progress-step--complete"></div>
            <div class="routine__progress-step--upcoming"></div>
            <div class="routine__progress-step--upcoming"></div>
            <div class="routine__progress-step--upcoming"></div>
            <div class="routine__progress-step--upcoming"></div>
        </div>
    </div>
    <button class="routine__add-to-log">
        <!-- <div class="routine__progress-step--upcoming"></div> -->
        Finish workout
    </button>
</footer>