    <script>
        let readyFunctions = [];
        let today = document.querySelector('header').getAttribute('data-date');
        if (document.readyState != 'loading') {
            runReadyFunctions();
        }
        else {
            document.addEventListener('DOMContentLoaded', runReadyFunctions)
        }
        function runReadyFunctions() {
            for (thisFunction of readyFunctions) {
                thisFunction();
            }
        }
        async function APIRequest(verb, route, params) {
            let url = window.location.href;
            url = `https://${url.split('/', 3)[2]}/`;
            if (url.indexOf('localhost') >= 0) {
                url = `http://${url.split('/', 3)[2]}/`;
            }
            url += `${route}/`;
            for (let i = 2; i < arguments.length; i++) {
                url += `${arguments[i]}/`;
            }
            console.log(url);

            let response = await fetch(url, { method: verb });
            let data = await response.json();
            return data;
        }
    </script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/sets.js"></script>
    <script src="/scripts/overlay.js"></script>
    <script src="/scripts/sync-progress.js"></script>
</body>
</html>
