<header class="header">
    <button class="header__menu-button"></button>
    <h1 class="header__title">Routine A</h1>
    <button class="header__journal-button">Journal</button>
</header>

<nav class="menu">
    <div class="menu__header">
        <button class="menu__close"></button>
        <h2 class="header__title">Routines</h2>
        <h2 class="header__journal-button">Sort</h2>
    </div>
    <ul class="menu__routine-list">
        <li class="menu__routine">
            <p>Routine A</p>
            <aside class="menu__routine-completed">last – 01 / 06 / ‘21</aside>
            <button class="menu__routine-drag-handle"></button>
        </li>
        <li class="menu__routine">
            <p>Routine B</p>
            <aside class="menu__routine-completed">last – 01 / 06 / ‘21</aside>
            <button class="menu__routine-drag-handle"></button>
        </li>
        <li class="menu__routine">
            <p>Routine C</p>
            <aside class="menu__routine-completed">last – 01 / 06 / ‘21</aside>
            <button class="menu__routine-drag-handle"></button>
        </li>
        <li class="menu__routine">
            <p>Routine D</p>
            <aside class="menu__routine-completed">last – 01 / 06 / ‘21</aside>
            <button class="menu__routine-drag-handle"></button>
        </li>
    </ul>
    <button class="menu__create-routine">
        <img src="/img/add.svg" alt="">
        Create a routine
    </button>
</nav>
