<div class="overlay overlay--movement-journal">
    <div class="overlay__header">
        <img src="/img/journal.svg" alt="" class="overlay__header-icon">
        <h2>Overhead Extensions - Journal</h2>
        <button class="overlay__close-button"></button>
    </div>
    <div class="overlay__actions">
        <button class="movement-journal__add-new text-button">Add entry</button>
        <button class="movement-journal__add-note text-button">Add note</button>
    </div>
    <form class="movement-journal__entry movement-journal__note-form">
        <textarea name="note" rows="3" placeholder="Add a note"></textarea>
        <button class="text-button" data-date="<%= todaysDate %>">Save note</button>
    </form>
    <form class="movement-journal__entry movement-journal__entry-form">
        <div>
            <p class="movement-journal__date"></p>
            <h3 class="movement-journal__name">Overhead Extensions</h3>
            <input type="checkbox" name="instruction"><label for="instruction">Instruction</label>
        </div>
        <div class="movement-journal__property">
            <label for="weight">lbs</label>
            <input inputmode="decimal" type="number" name="weight">
        </div>
        <div class="movement-journal__property">
            <label for="sets">sets</label>
            <input inputmode="decimal" type="number" name="sets">
        </div>
        <div class="movement-journal__property">
            <label for="reps">reps</label>
            <input inputmode="decimal" type="number" name="reps">
        </div>
        <button class="text-button" data-date="<%= todaysDate %>">Save entry</button>
    </form>
    <ul class="movement-journal">
    </ul>
</div>