.footer {
    @extend %horizontal-end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $slate5;
    color: $white;
    padding: $spacer-1 $spacer-3;
}

.routine {
    &__progress {
        p {
            @extend %body;
            margin-bottom: $spacer;
        }
    }

    &__progress-bar {
        @extend %vertical-start;
        flex-wrap: wrap;
        height: 35px;
    }

    &__progress-step--upcoming,
    &__progress-step--complete {
        width: $spacer-3;
        height: $spacer-3;
        border-radius: 50%;
        margin: 0px 3px 3px 0px;

        &:nth-child(even) {
            margin-bottom: 0;
        }
    }

    &__progress-step--complete {
        background-color: $white;
    }

    &__progress-step--upcoming {
        border: 3px $white solid;
    }

    &__add-to-log {
        @extend %horizontal-center;
        @extend %caption--strong;
        padding: $spacer-1 18px;
        color: $white;
        border: 3px $white solid;
        margin-bottom: $spacer-1;

        div {
            margin-right: $spacer-1;
            margin-top: 2px;
        }
    }
}