.header {
    @extend %horizontal-center;
    width: 100%;
    padding: 16px 16px 8px;

    &__menu-button {
        width: 24px;
        height: 24px;
        background-image: url('/img/menu.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__title {
        @extend %subtitle;
        flex: 1;
        text-align: center;
    }

    &__journal-button {
        @extend %caption;
    }
}

.menu {
    @extend %vertical-start;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    width: 100%;
    padding: 16px 16px 0px;
    z-index: 1000;
    background-color: transparentize($white, .8);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: .5s left cubic-bezier(0.25, 0.9, 0.21, 1),
                .5s opacity cubic-bezier(0.25, 0.9, 0.21, 1);
    
    &--active {
        opacity: 1;
        left: 0;
    }

    &__header,
    &__routine-list,
    &__create-routine {
        z-index: 10;
    }
    
    &__header {
        @extend %horizontal-center;
        width: 100%;
        margin-bottom: 24px;
        z-index: 1000;

        .header__title {
            flex: 1;
            text-align: left;
        }
    }

    &__close {
        margin-right: 16px;
    }

    &__close {
        width: 24px;
        height: 24px;
        background-image: url('/img/back.svg');
    }

    &__title {
        @extend %subtitle;
    }

    &__routine {
        @extend %horizontal-center;
        width: 100%;
        margin-bottom: 24px;

        &--new {
            @extend %horizontal-center;
            justify-content: center;
            width: 100%;

            img {
                margin-right: 12px;
            }

            p {
                text-align: left;
                flex-grow: unset;
            }
        }

        &-list {
            // flex: 1;
            width: 100%;
        }

        p {
            @extend %body--strong;
            flex: 1;
        }

        &-completed {
            @extend %caption;
        }

        &-drag-handle {
            width: 16px;
            height: 16px;
            background-image: url('/img/menu.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 16px;
        }
    }

    &__create-routine {
        @extend %horizontal-center;
        @extend %body--strong;
        justify-content: center;

        position: relative;
        left: -16px;
        width: calc(100vw - 32px);
        padding: 12px;
        border: 2px $slate5 solid;
        margin: 16px;

        img {
            margin-right: 12px;
        }
    }

    &__add-routine {
        @extend %horizontal-center;
        display: none;
        width: 100%;
        border-bottom: 2px $slate5 solid;
        padding: 8px;

        &--visible {
            display: flex;
        }

        input {
            @extend %body--strong;
            flex: 1;
            border: none;
            color: $slate5;

            &::focus {
                border: 2px $slate3 solid;
            }
        }

        button {
            width: 24px;
            height: 24px;
            background-image: url(/img/add.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 12px;

            &.menu__cancel-add {
                transform: rotate(45deg);
            }
        }
    }
}