.overlay {
    @extend %vertical-start;
    position: fixed;
    bottom: -50vh;
    left: 0;
    width: 100vw;
    max-height: 70vh;

    padding: $spacer-4 $spacer-3 0;
    box-shadow: 0 -2px $spacer-3 transparentize($slate5, .2);

    background-color: transparentize($white, .92);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: .5s bottom cubic-bezier(0.25, 0.9, 0.21, 1),
                .5s opacity cubic-bezier(0.25, 0.9, 0.21, 1);
    
    &--visible {
        opacity: 1;
        bottom: 0;
    }

    &__header {
        @extend %horizontal-center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: $spacer-2;

        h2 {
            @extend %body--strong;
            flex: 1;
        }
    }

    &__header-icon {
        width: $spacer-4;
        height: $spacer-4;
        margin-right: $spacer-1;
    }

    &__close-button {
        background-image: url('/img/close.svg');
    }
}