.progress {
    &-bar {
        @extend %horizontal-center;
    }

    &-step {
        width: $spacer-2;
        height: $spacer-2;
        border-radius: 50%;
        border: 2px $slate5 solid;
        margin-right: $spacer;

        &:last-child {
            margin: 0;
        }

        &--completed {
            background: $slate5;
        }
    }
}