.progress {
    &-bar {
        @extend %horizontal-center;
    }

    &-step {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px $slate5 solid;
        margin-right: 4px;

        &:last-child {
            margin: 0;
        }

        &--completed {
            background: $slate5;
        }
    }
}