.set {
    @extend %vertical-start;
    width: 100%;
    margin-bottom: 32px;

    &:first-child .set__header {
        padding-top: 0;
        border: none;
    }

    &__header {
        @extend %horizontal-center;
        width: 100%;
        padding: 16px 0;
        border-top: 1px transparentize($slate5, .5) solid;
        // margin-bottom: 12px;
    }

    &__list {
        @extend %vertical-start;
        width: 100%;
        padding: 88px 16px 0;
    }

    &__title {
        @extend %body--strong;
        margin-right: 12px;
    }

    &__add-new {
        width: 100%;
    }

    .progress-bar {
        flex: 1;
    }
}

.movement {
    width: 228px;
    background-color: $slate5;
    color: $white;
    padding: 12px;
    margin-right: 8px;
    flex-shrink: 0;

    &__add-new {
        @extend %horizontal-center;
        @extend %body;

        img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }

    &__thing {
        @extend %caption;
        margin: 5px 0;
    }

    &__list {
        @extend %horizontal-center;
        overflow-x: scroll;
        width: 100%;
    }

    &__header {
        @extend %horizontal-center;
        width: 100%;
        margin-bottom: 5px;
    }

    &__name,
    &__name-field {
        @extend %body--strong;
        flex: 1;
        color: white;
    }

    &__name-field {
        color: $slate5;
    }

    &__journal-button {
        width: 24px;
        height: 24px;
        background-image: url('/img/journal--white.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 8px;
    }


    &__edit-button {
        width: 24px;
        height: 24px;
        background-image: url('/img/edit--white.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__properties {
        @extend %horizontal-center;
        justify-content: space-between;
    }

    &__property {
        @extend %vertical-center;
        flex-direction: column-reverse;
        width: 57px;

        p {
            @extend %title-2;
            text-align: center;
            margin: 0 0 4px 0;
        }
        
        input {
            @extend %title-2;
            width: 47px;
            height: 29px;
            text-align: center;
            color: $slate5;
        }

        h4,
        label {
            @extend %body;
            text-align: center;
        }

        &-divider {
            width: 1px;
            height: 28px;
            background-color: $slate4;
        }
    }
}

.movement--add-form {
    width: 100%;
    padding: 0 0 16px 0;

    input {
        background: none;
        width: 48px;
        border: none;
        border-bottom: 1px $slate5 solid;
        overflow-x: visible;
        padding: 8px 0;
        margin-bottom: 8px;
    }

    & .movement__properties {
        margin-bottom: 12px;
    }

    .movement__property-divider {
        background-color: $slate2;
    }
}